<MudDialog>
    <DialogContent>
		
		<div>
	<ol>
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
				<u>
					<b>Introduction</b>
				</u>
			</p>
		</li>
	</ol>
	<p align="justify" style="line-height: 108%; text-indent: 0.5in; margin-bottom: 0.11in">
The purpose of this OVMC is to set out the terms and conditions of OVMC Program. 
</p>
	<ol start="2">
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
				<u>
					<b>Definition</b>
				</u>
			</p>
		</li>
	</ol>
	<p align="justify" style="line-height: 108%; text-indent: 0.5in; margin-bottom: 0.11in">
		<b>Oman Post </b>shall mean Oman Post SAOC.</p>
	<p align="justify" style="line-height: 108%; text-indent: 0.5in; margin-bottom: 0.11in">
		<b>OVMC Program</b> shall mean Oman Visa Medical Center .</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<b>Fee</b> means the fee charged by Oman Post on expatriates for booking vouchers for visa and medical examinations via OVMC’s e-system. 
</p>
	<ol start="3">
		<li>
			<p style="line-height: 108%; margin-bottom: 0.11in">
				<u>
					<b>Scope of Services</b>
				</u>
			</p>
		</li>
	</ol>
	<p style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">

	</p>
	<p style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
Oman Post acts only as an administrative facilitator. 
</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
The Website provides an online platform for applicants, employers, authorised recruitment agencies and/or their representatives to
register applicant details, submit preliminary information, obtain queue or token numbers, schedule appointments for medical examination
and/or related visa-processing services, and access status updates where available.</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
Oman Post does not provide medical, immigration or visa advice and has no role in medical assessments, medical outcomes, or visa
decision-making. All medical evaluations and visa decisions remain the sole responsibility of the relevant Oman Ministry of Health
appointed and verified medical service provider and/or the relevant Diplomatic Mission/Embassy.</p>

	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<br/>
	</p>
	<ol start="4">
		<li>
			<p style="line-height: 108%; margin-bottom: 0.11in">
				<u>
					<b>Eligibility And Requirements</b>
				</u>
			</p>
		</li>
	</ol>
	<p style="line-height: 108%; text-indent: 0.5in; margin-bottom: 0.11in">
		<b>Service Eligibility</b>. Applicants must be over 18 years old for work visa registrations.</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<b>Passport Validity</b>. All applicants must hold a passport with a minimum validity of six (6) months prior to its expiry date when they enter Sultanate of Oman.</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<b>Required Documentation</b>. Applicants must present an original passport and the appointment letter at the Oman Visa and Medical Center.</p>
	<p align="justify" style="line-height: 108%; text-indent: 0.5in; margin-bottom: 0.11in">
		<b>Fee Policy</b>. 
</p>
			<div style="padding: 0 100px;">
	<ol type="a">
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
	Oman Post shall amend the Fee from time to time as it deems necessary.</p>
		</li>
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
	In any case, the Fee shall be paid in full and in advance through the system and it is non-refundable in nature.</p>
		</li>
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
	The Fee shall be due on the submission thereof, irrespective of the	application outcome. 
	</p>
		</li>
	</ol>
	</div>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<b>Compliance with Laws</b>. Applicants are legally required to comply with all applicable laws in the Sultanate of Oman, as well the country they are applying from; failure to do so may lead to legal inquiry.</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<b>Right of Rejection</b>. The Sultanate of Oman reserves the absolute right to approve or deny any visa application at its sole discretion, without the obligation to provide justification for such decisions.</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<b>Data Accuracy</b>. By submitting an application, the user confirms all provided information is true and accurate; Oman Post is not
liable for errors in user-submitted profiles. The applicant is solely responsible for ensuring that all information submitted through the
Website is true, accurate, complete and consistent with the applicant’s passport, employment documents, visa application
documents and any other supporting documents. Oman Post shall not be liable for any rejection, delay, cancellation, rescheduling, medical
report issue, visa refusal or other consequence arising from incorrect, incomplete, inconsistent or outdated information submitted
by the applicant or on the applicant’s behalf.</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<b>Appointment, Queue and Scheduling</b>. Appointment dates, time slots and queue numbers are subject to availability and may be
allocated automatically or manually based on the applicable process, capacity of the relevant centre, system availability and operational
requirements. Oman Post reserves the right to reschedule, cancel, suspend or modify any appointment due to system issues, public
holidays, force majeure events, medical centre requirements, government instructions, technical interruptions or other
circumstances beyond its reasonable control.</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<b>Attendance at Medical Centre. </b>The applicant must attend the designated medical centre or visa/medical examination centre on the
scheduled date and time, together with the original passport, appointment confirmation, payment receipt and any other documents
required by the relevant authority or medical centre. Late attendance, non-attendance, incomplete documents, mismatch of
information, or failure to comply with medical centre instructions may result in refusal of service, cancellation of the appointment,
additional fees or requirement to book a new appointment.</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<b>General terms
and conditions. </b>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
These Terms and Conditions apply solely to visa applicants/users accessing and using the Oman Post website. These Terms do not create
or govern any contractual relationship between Oman Post and any Diplomatic Mission/Embassy or any third-party service provider
(including any medical service provider).</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The contents of this site are only for general information or use. They do not constitute advice and should not be relied upon in making (or refraining from making) any decision.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The information contained in this Website, including text, graphics, links or other items, are provided on an
'as is, 'as available basis. Oman Post does not warrant the accuracy, adequacy or completeness of this information and material and
expressly&nbsp;disclaims&nbsp;liability for errors or omissions in this information and material. No warranty of any kind, implied,
express or statutory, including but not limited to the warranties of non-infringement of third party rights, title, merchantability,
fitness for a particular purpose and freedom from computer virus, is given in conjunction with the information and materials.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post does not seek any money / amount from applicants for processing or confirming on the visa process. </span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post and its affiliates and associates and directors, officers, employees, agents shall not be liable, at any
time for any damages, claim, loss, harm, injury (including, without limitation, damages for loss of business projects, or loss of
profits) arising in contract, tort or otherwise from the use of or inability to use the Site, or any of its contents, or from any act or
omission arising from using the site contents or for any failure of performance, error, omission, interruption, deletion, defect, delay
in operation or transmission, computer virus, communications line failure, theft or destruction or unauthorized access to, alteration
of, or use of information contained on the site. No representations, warranties or guarantees whatsoever are made as to the accuracy,
adequacy, reliability, completeness, suitability or applicability of the information to a particular situation.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The information and material contained in&nbsp;this website and its&nbsp;pages and the terms, conditions, and descriptions that appear are subject to change without prior notice.</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Third Party Links</b>
		</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Certain links on the Site may lead to resources located on servers or networks maintained / operated by third parties
over which Oman Post has no control, supervision or any connection since these sites are external to Oman Post. You agree, acknowledge,
accept and understand that by visiting such sites and/or clicking such weblinks/hyperlinks to third party / external websites, you are
beyond the Oman Post website and you are leaving the secured website of Oman Post and thereby its policies, terms and conditions and the
disclaimer cease once user leaves the Oman Post site.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post therefore neither endorses nor offers any judgment or warranty and accepts no responsibility or liability
for the authenticity/availability of any of the information or for any damage, loss or harm, direct or consequential or any violation of
local or international laws that may be incurred by your visit and/or transaction/s on such external sites. By providing the web links or
hyperlink to such external/third party websites, Oman Post and/or its representatives shall not be deemed to be providing these services
nor be deemed to endorse, recommend, approve, guarantee or introduce the third party or the services/products that they provide, nor
offers any judgment or warranty. Such third party/external websites are governed by their respective policies and Oman Post has no role
to play in that. Users are requested to exercise their discretion while using/ interacting with these third party websites and Oman
Post and/or its representative accepts no responsibility or liability for the authenticity/availability of any of the information or for
any direct, indirect, punitive, incidental, special, consequential damage, loss, cost, charges or harm arising out of or in connection
with the access to such third party links/hyperlink by user (including the Applicant), or for any deficiencies of the services
therein or any failure in the provision of service by such third party thereby or for any violation of local or international laws
that may be incurred by users visit and/or transaction/s on these third party /external websites.</span>
	</p>
	<p lang="en-US" style="line-height: 108%; margin-bottom: 0.11in">
		<br/>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Short
Messaging Services</b>
		</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The Short Messaging Service (</span>
		<span lang="en-US">
			<b>'SMS'</b>
		</span>
		<span lang="en-US">)
where provided to update the OVMC application. The time to deliver the SMS is dependent on several factors such as upon the traffic on
the mobile network and whether the visa applicant mobile phone is within reach and switched on and cannot therefore be guaranteed by
Oman Post. Oman Post is not a mobile network operator and does not guarantee the delivery of SMS text messages.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The applicant confirms that they have provided an accurate mobile number for receiving SMS. The applicant confirms that
they are the owner or the legitimate user of the mobile device or phone. The applicant acknowledges that using another person's mobile
phone or providing inaccurate mobile phone number or the unauthorized use of mobile phone number for receiving the SMS, may entail
disclosure of applicant‘s personal data and confidential information which disclosure shall be at the sole risk of the applicant.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post reserves the right to withdraw this optional service at any time and without notice.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The applicant must not use (or permit any third party to use) the SMS service to send any message or communication
which is spam, illegal, offensive, abusive, indecent, obscene or menacing or causes annoyance, inconvenience or needless anxiety or
infringes the rights of third parties. Oman Post reserves the right to withdraw the optional SMS service to such applicant if the
applicant is in breach of these terms and conditions. Oman Post may also withdraw the optional SMS services if Oman Post in its sole
discretion apprehends that the optional SMS service is being used for such purposes.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">For operational reasons Oman Post may vary the technical specification of the optional SMS services without notice.
In the event of any change to the optional SMS services these terms and conditions are to be treated as varied accordingly.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The applicant acknowledges that the optional SMS services may, at any time, be adversely affected by problems with the
applicant’s mobile phone network, force majeure events including, without limitation, interference to the network coverage. Oman Post
is not responsible or liable to the applicant for any loss, damage or expenses incurred directly or indirectly by the applicant as a result
of any difficulties experienced by the applicant‘s mobile phone service provider. </span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">To use the services, the applicant should refer to the instructions available on the local website. The applicant agrees
to comply with all instructions we may give concerning the optional SMS services, including any security instructions. We will be
entitled to treat any failure by applicant themselves to comply with these instructions as a breach of these terms and conditions, which
will entitle us to deny applicant access to the optional SMS services.</span>
	</p>
	<p style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The applicant is responsible for paying charges for the message origination. Charges once paid for this optional SMS service will not be refunded under any circumstances.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">The applicant shall at its sole risk be responsible for taking all reasonable steps to prevent unauthorized persons gaining access to the OVMC Services.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post may, in its sole discretion, temporarily suspend the provision of the optional SMS services if such provision could materially affect the quality of any telecommunications service, including the SMS services provided by Oman Post.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post specifically excludes all liability of any kind (including negligence) in respect of any third party information or other material made available on, or which can be accessed using this optional SMS text services.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">These terms and conditions are governed by the law of the country of operation and both parties submit to the exclusive jurisdiction of the courts of the country of operation.</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Spam</b>
		</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post does not tolerate spam. Oman Post website/s or communication tools shall not be used to send spam or otherwise send content that would violate the terms and conditions of Oman Post user agreement.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">it is not permitted to license, add, modify, deface, hack, misuse or abuse Oman Post’ website or the contents therein.</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Fraudulent Activities / Bogus Employment Offers</b>
		</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">It has come to Oman Post’ attention that,
individuals misrepresenting themselves as Oman Post’s agents or
representatives have approached people to offer fraudulent/fictitious
employment opportunities, with the intent to steal personal
information or solicit money from people. Oman Post encourage the
applicant to exercise caution and common sense when receiving any
such employment offer, which requires payment of any fees/money, or
promises a work visa in exchange for money. The said offers are
completely fake and not valid. Oman Post is not a recruitment agency
and does not offer recruitment services. Scammers operate primarily
via the internet, email, phone etc. Oman Post warns people to beware
of such scams.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Please be advised that, Oman Post is a postal
company and works only with agents and diplomatic office for the
purpose of fulfilling administrative requirements of application
processing. Neither Oman Post nor its representatives will ask for
money from individuals under any circumstances to lure them with
employment opportunities either in Oman Post or outside. If you
receive any offer that purports to be from Oman Post, which ask for
money, these types of offers are fraudulent.</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Other Fraudulent Activities</b>
		</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Please also be aware of individuals
misrepresenting themselves as Oman Post employees, who have been
known to approach customers entering some of the buildings where our
offices are located, and have tried to extract payment from these
customers before allowing them to proceed to our offices.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">On no occasion will customers be asked for a cash
payment to be made at the point of entry to any of the buildings
where our offices are located. Appointments and services are either
paid for in advance online.</span>
	</p>
	<p style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">If you are aware of any such incidents, please report them to ASYAD’s Compliance Officer (</span>
		<font color="#467886">
			<u>
				<a href="mailto:compliance@asyad.com">
					<span lang="en-US">compliance@asyad.com</span>
				</a>
			</u>
		</font>
		<span lang="en-US">
) as soon as possible.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post takes these matters extremely seriously and will notify local law enforcement to investigate and prosecute any illegal activities we are made aware of.</span>
	</p>
	<p style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
		<span lang="en-US">Under no circumstances will Oman Post be liable or responsible for any loss, damages, expenses or inconvenience resulting from these unauthorized persons and/or activities.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Consequential Loss. </b>
		</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-left: 0.5in; margin-bottom: 0.11in">
Oman Post shall not be liable for any loss of business, interruption
of business, lost profits or goodwill, or other indirect, special,
incidental, exemplary or consequential damages of any kind (in each
case whether direct or indirect) arising out of OVMC, even if they
have been advised of the possibility of such damages and whether they
had any knowledge that such damage might be incurred, and
notwithstanding any failure of essential purpose of any limited
remedy.</p>
			<p><br /><br /></p>
	<p style="line-height: 108%; margin-bottom: 0.11in; page-break-before: always">
		<span lang="en-US">
			<b>Privacy Statement</b>
		</span>
	</p>

	<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post SAOC (Oman Post) is committed to protecting your Personal Data. The words “</span>
		<span lang="en-US">
			<b>we</b>
		</span>
		<span lang="en-US">”,“</span>
		<span lang="en-US">
			<b>us</b>		</span>
		<span lang="en-US">”
and “</span>
		<span lang="en-US">
			<b>our</b>
		</span>
		<span lang="en-US">”
shall refer to Oman Post. This privacy statement (“</span>
		<span lang="en-US">
			<b>Privacy
Statement</b>
		</span>
		<span lang="en-US">”) outlines how Oman Post collects, uses and discloses Personal Data and our privacy-preserving practices. The Privacy Statement applies to:</span>
	</p>
			<div style="padding: 0 50px;">
		<ol>
			<li>
				<p style="line-height: 108%; margin-bottom: 0.11in">
					<span lang="en-US">Users of Oman Post’s services. These include both digital and non-digital services.</span>
				</p>
			</li>
			<li>
				<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
					<span lang="en-US">Individuals who come into contact with Oman Post such as in the execution of Oman Post’s statutory functions.</span>
				</p>
			</li>
		</ol>
	</div>
	
	<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">Personal Data refers to data, whether true or not, about an individual who can be identified from that data, or from that data and other information
to which Oman Post has or is likely to have access. We use your Personal Data in line with all applicable laws.</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">By continuing to use our services, you acknowledge that you have read and understood this Privacy Statement and agree to the collection,
use and disclosure of your Personal Data in accordance with this Privacy Statement. We reserve the right to modify or supplement the
Privacy Statement at our discretion and at any time. Your continued use of our digital and non-digital services or interactions with us
following the posting of any modification or supplement will constitute your acceptance of such modification or supplement.</span>
	</p>
	<p lang="en-US" style="line-height: 108%; margin-bottom: 0.11in">
		<br/>
		<br/>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Overview</b>
		</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Who we are and what we do</b>
		</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">Oman Post provides, among others, platform connectivity with respect to booking confirmation for the purpose of visa application process in Oman (“</span>
		<span lang="en-US">
			<b>OVMC</b>
		</span>
		<span lang="en-US">”). OVMC is the visa and medical center where foreign worker candidates, complete biometrics and pre-arrival medical check before traveling to
Oman. All expatriate workers from around the world must complete OVMC processing.</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>What information do we collect about you</b>
		</span>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">In
general, we collect information that is required for the performance
of our statutory functions of OVMC. Such information includes but is
not limited to your personal identifiers, travel document
information, phone number, email, background information e.g.
educational background, employment and family details, and contact
information. In addition, we collect technical information from you
when you use our digital services, and any other information you may
submit when you or someone you have authorised on your behalf.</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>How will we use the information about you</b>
		</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">In general, we use your information for the following purposes:</span>
	</p>
			<div style="padding: 0 50px;">
	<ol>
		<li>
			<p style="line-height: 108%; margin-bottom: 0.11in">
				<span lang="en-US">Processing employment visa</span>
			</p>
		</li>
		<li>
			<p style="line-height: 108%; margin-bottom: 0.11in">
				<span lang="en-US">Registration of biometric and medical services in your country. </span>
			</p>
		</li>
	</ol>
	</div>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">We also use your information to serve you better, to provide you with our services for customer support, for law enforcement, for research and development, for legal proceedings and requirements.</span>
	</p>
	<p lang="en-US" style="line-height: 108%; margin-bottom: 0.11in">
		<br/>
		<br/>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>Collection of Personal Data</b>
		</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">We collect Personal Data directly from you, or from other sources.</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">
			<b>1. Data we collect directly from you or authorised representatives acting on your behalf</b>
		</span>
	</p>
	<p style="line-height: 108%; margin-bottom: 0.11in">
		<span lang="en-US">The types of data that&nbsp;we collect depend on the circumstances of collection and the nature of the service requested/provided or transaction undertaken. They include:</span>
	</p>
			<div style="padding: 0 50px;">
	<ol type="a">
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
				<span lang="en-US">
					<b>Personal information</b>
				</span>
				<span lang="en-US">&nbsp;that
	can be used to identify an individual, such as name, sex, date of
	birth, nationality, race, religion, dialect group, personal
	identification numbers, biometrics (fingerprints, facial image and
	iris image) including photograph-of-the-day (captured for facial
	authentication when an individual performs immigration clearance at
	our checkpoints) and photograph on the passport biodata page;</span>
			</p>
		</li>
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
				<span lang="en-US">
					<b>Travel Document information</b>
				</span>
				<span lang="en-US">&nbsp;such
	as travel document number, travel document type, country of issue,
	date of issue, date of expiry, including supporting documents with
	information such as photocopy of the passport biodata page;</span>
			</p>
		</li>
		<li>
			<p style="line-height: 108%; margin-bottom: 0.11in">
				<span lang="en-US">
					<b>Contact
	information</b>
				</span>
				<span lang="en-US">&nbsp;such as residential
	address, phone number, email address;</span>
			</p>
		</li>
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
				<span lang="en-US">
					<b>Transaction information</b>
				</span>
				<span lang="en-US">&nbsp;related
	to the use of our services, including the type of services requested
	or provided; transaction details (such as application reference
	number, date and time, payment details) and appointment information.</span>
			</p>
		</li>
		
		<li>
			<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
				<span lang="en-US">
					<b>Information you choose and/or consent to
	submit</b>
				</span>
				<span lang="en-US">&nbsp;when you use our website,
	including, but not limited to:</span>
			</p>
						<div style="padding: 0 25px;">
			<ul>
				<li>
					<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
						<span lang="en-US">information in the queries you enter into our chatbot, social media sites, website and mobile application;</span>
					</p>
				</li>
				<li>
					<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
						<span lang="en-US">photographs, screenshots you submit to us in connection with a customer support request;</span>
					</p>
				</li>
			</ul>
			</div>
			</li>
			<li>
				<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
					<span lang="en-US">
						<b>Data collected through analytics tags&nbsp;</b>
					</span>
					<span lang="en-US">such as the effectiveness of functionalities, features and user preferences relating to our digital services.</span>
				</p>
			</li>
		</ol>
		</div>
		<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">
				<b>Note:&nbsp;</b>
			</span>
			<span lang="en-US">Where
you disclose Personal Data of another individual to us, you undertake
to ensure that the individual whose Personal Data is supplied to us
has, where required under applicable data protection laws, authorised
the disclosure, is informed of, understands and acknowledges the
provisions of this Privacy Statement.</span>
		</p>
		<p lang="en-US" style="line-height: 108%; margin-bottom: 0.11in">
			<br/>
			<br/>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">
				<b>Use
of Personal Data</b>
			</span>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">Specifically,
we use data for </span>
			<span lang="en-US">
				<b>Provision of
registration services.</b>
			</span>
			<span lang="en-US"> This includes,
but not limited to, administering application for work visa.</span>
		</p>
		<p lang="en-US" style="line-height: 108%; margin-bottom: 0.11in">
			<br/>
			<br/>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">
				<b>Disclosure
or Sharing of Personal Data</b>
			</span>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">We
share Personal Data with third parties for purposes justified by
legal bases and strictly on a need-to-know basis. Oman Post will
never sell your personal data.</span>
		</p>
		<p lang="en-US" style="line-height: 108%; margin-bottom: 0.11in">
			<br/>
			<br/>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">
				<b>Retention
of Personal Data</b>
			</span>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">Oman Post retains your Personal Data for as long as required:</span>
		</p>
			<div style="padding: 0 50px;">
		<ol type="a">
			<li>
				<p style="line-height: 108%; margin-bottom: 0.11in">
					<span lang="en-US">under any relevant legislation requiring data to be retained; and/or</span>
				</p>
			</li>
			<li>
				<p style="line-height: 108%; margin-bottom: 0.11in">
					<span lang="en-US">to fulfil the purpose for which it was collected.</span>
				</p>
			</li>
		</ol>
		</div>
		<p lang="en-US" style="line-height: 108%; margin-bottom: 0.11in">
			<br/>
			<br/>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">
				<b>Access and Correction</b>
			</span>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">If you would like to request for access to your Personal Data which you have earlier provided to Oman Post or information about the ways in
which the Personal Data you have provided has been used or disclosed by Oman Post, please contact us to our registered address in Oman.</span>
		</p>
		<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">Oman Post may charge an access fee to cover the reasonable cost of retrieving the information and supplying it to you. </span>
		</p>
		<p lang="en-US" style="line-height: 108%; margin-bottom: 0.11in">
			<br/>
			<br/>
		</p>
		<p style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">
				<b>Updates to this Privacy Statement</b>
			</span>
		</p>
		<p align="justify" style="line-height: 108%; margin-bottom: 0.11in">
			<span lang="en-US">We may amend this Privacy Statement from time to time. 
				The current version of the Privacy Statement will be accessible on our website.
				Please review this Privacy Statement when you use our website.</span>
		</p>
	</div>

	</DialogContent>
	<DialogActions>
		<MudButton Color="Color.Primary" OnClick="Cancel">@localizer["_Close"]</MudButton>
	</DialogActions>
</MudDialog>

@code {
	[CascadingParameter] IMudDialogInstance MudDialog { get; set; }
	void Cancel() => MudDialog.Cancel();

}
